/* styles.css */
.black-background {
    background-color: black;
    color: white;
    /* Opcional: mudar a cor do texto para branco */
    min-height: 100vh;
    /* Para garantir que o fundo cubra toda a tela */
}

.search-input {
    width: 90%;
    /* Largura total */
    padding: 10px 20px;
    /* Espaçamento interno */
    border: 2px solid #3498db;
    /* Borda azul */
    border-radius: 25px;
    /* Bordas arredondadas */
    font-size: 16px;
    /* Tamanho da fonte */
    transition: all 0.3s ease;
    /* Transição suave */
}

.search-input:focus {
    border-color: #2980b9;
    /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    /* Sombra ao focar */
    outline: none;
    /* Remove o contorno padrão */
}

.search-input::placeholder {
    color: #7f8c8d;
    /* Cor do texto do placeholder */
    opacity: 1;
    /* Opacidade do placeholder */
}